# Environment variables for the DeSoto service discovery
# This corresponds to an etcd entry at /environments/desoto

ETCD_HOSTS=http://172.17.42.1:4001
DOCKER_HOST=unix:///var/run/docker.sock
SERVICEDEF_PATH=/publication
#HOST=8.8.8.8